body {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.navbar-fixed {
  margin-bottom: 15px;
}

.poster {
  height: 380px;
  max-width: 100%;
}

#omdb {
  text-decoration: underline;
}
